*{
  margin: 0;
  padding: 0;
  
}
body{
  background-color:aliceblue;
}
#calculator{
  border: 1px solid rgb(187,183,183);
  border-radius: 5px;
  width: 200px;
  margin-left: 40%;
  margin-top: 5%;
  background-color: rgb(132, 129, 129);
}
#display{
  margin: 10px;
  width: 90%;
  font-size: 30px;
  background-color: rgb(155, 144, 110);
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width: 45px;
  height: 45px;
  margin: 3px;
  background-color: rgb(220, 200, 174);
}